Stim/
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
__MACOSX/

# VSCode
.vscode/
.history/

# Jupyter Notebook & Python
.ipynb_checkpoints/
*.pyc
__pycache__/
.pytest_cache/

# circuits and data
circuits/
data/
debug/

# any output data
*.csv
*.dem

# testing dir for bposd
bposd/